* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* background-color: #ffffff
}

/*.center_div {
  border: 5px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #d0f0f6;
  text-align: center;
  padding: 8px;
}*/

#rcorners {
  border-radius: 25px;
  background: #73AD21;
  padding: 15px;
  margin: 20px;
  width: auto;
  height: auto;
}



li, a {
  /*font-family: Helvetica, sans-serif;*/
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  background-color: #ffffff;
}


h1 {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #edf0f1;
  background-color: #282828;
  text-decoration: none;
}
h2{
  font-family: Ubuntu;
  font-size: 40px;
  text-align: left;
  padding-left: 40px;
  padding-top: 50px;
}


header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 15px 10%;

}

.logo { /* will be implemented once logo is designed */
  cursor: pointer;
}

.nav_links {
  list-style: none;
  background-color: white;
}

.nav_links li{
  display: inline-block;
  padding: 5px 20px;
}

.nav_links li a{
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

body,html {
  margin: 0;
  padding: 0;
}

.head { /* Class for the header text */
    color: 	#000000;
    font-size: 40px;
    text-align: center;
    padding: 40px
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: left;
    width: 20%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 12px 12px 12px 12px;

}
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}

/*
#homeVideo {
  position: absolute;
  align: center;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 70%;
}
*/


video {
    max-width: 115vw;
    max-height: 115vh;
    object-fit: contain;
    margin-top: 0px;
}

.content {
  position: static;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: inherit;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}


.overlay {
    position: absolute;
    top: -5;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
