
/*
    MEELOD'S CODE


    @media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', 'sans-serif';
    background-color: white;
}

.nav_links {
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

    .nav_links li {
        list-style: none;
        margin-top: 12px;
    }

        .nav_links li a {
            transition: all 0.3s ease 0s;
        }

    .nav_links a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 14px;
    }

    .nav_links li a:hover {
        color: #73AD21;
    }

.sticky {
    position: fixed;
    width: 100%;
}

.burger {
    display: none;
    cursor: pointer;
}

    .burger div {
        width: 25px;
        height: 5px;
        background-color: black;
        margin: 5px;
    }

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .nav_links {
        position: absolute;
        right: 8px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

        .nav_links li {
            opacity: 0;
        }

    .burger {
        display: block;
    }
}

.nav_active {
    transform: translateX(0%);
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* background-color: #ffffff
}

/*.center_div {
  border: 5px solid gray;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #d0f0f6;
  text-align: center;
  padding: 8px;
}*/

#rcorners {
    border-radius: 25px;
    background: #73AD21;
    padding: 15px;
    margin: 20px;
    width: auto;
    height: auto;
}

#rcorners2 {
    border-radius: 25px;
    background: white;
    padding: 15px;
    margin: 20px;
    width: auto;
    height: auto;
}



li, a {
    /*font-family: Helvetica, sans-serif;*/
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
}


h1 {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    background-color: #282828;
    text-decoration: none;
}

h2 {
    font-family: "Ubuntu";
    font-size: 40px;
    text-align: left;
    padding-left: 40px;
    padding-top: 50px;
}


header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 15px 10%;
}

.logo { /* will be implemented once logo is designed */
    cursor: pointer;
}

.nav_links {
    list-style: none;
    background-color: white;
}

    .nav_links li {
        display: inline-block;
        padding: 5px 7.5px;
    }

        .nav_links li a {
            transition: all 0.3s ease 0s;
        }

            .nav_links li a:hover {
                color: #0088a9;
            }

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }

body, html {
    margin: 0;
    padding: 0;
}

.head { /* Class for the header text */
    color: #000000;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    font-family: "Ubuntu";
}

.banner {
    background-image: url('about-us.jpg');
    width: 100%;
    background-size: contain;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 20%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 12px 12px 12px 12px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/*
#homeVideo {
  position: absolute;
  align: center;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 70%;
}
*/


.container {
    padding: 0.01em 16px;
}

/*Everything video related*/
video {
    max-width: 115vw;
    max-height: 115vh;
    object-fit: contain;
    margin-top: 0px;
}

.content {
    position: static;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: inherit;
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: -5;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

    .overlay h4 {
        text-align: center;
        font-size: 50px;
        font-family: "Ubuntu";
        z-index: 1;
        opacity: 0.7;
    }

    .overlay p {
        text-align: center;
        font-size: 30px;
        font-family: "Ubuntu";
        z-index: 1;
        opacity: 0.7;
    }

.video-container {
    max-width: 115vw;
    max-height: 115vh;
    object-fit: contain;
    margin-top: 0px;
}



/*Logo*/
.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-bottom: 20px;
}



/* About-us content*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-left: 250px;
}

#feature-row {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.feature-column {
    width: 20%;
    height: 100px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

/*Grid for Homepage content*/




/*Grid for About-us content*/
.bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-container-b {
    display: grid;
    align-items: center;
    justify-content: center;
}

.profile {
    flex-basis: 40%;
}

.profile-b {
    flex-basis: -40%;
}

.bio {
    padding-left: 220px;
    z-index: auto;
}

.bio-b {
    padding-right: 220px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    padding: 40px;
    text-align: center;
    color: white;
}

.last-grid-item {
    padding: 40px;
    text-align: center;
}


/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 8 4px;
}


    .column img {
        margin-top: 8px;
        vertical-align: middle;
    }




/*Button to Play Store*/
.button {
    background-color: Brown;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 570px;
    width: 140px;
    cursor: pointer;
}

    .button:hover {
        background-color: DarkRed;
        color: white;
    }

/*Contact Form*/
.form {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
}

.form-button {
    background-color: DodgerBlue;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 570px;
    width: 120px;
    cursor: pointer;
}

    .form-button:hover {
        background-color: DeepSkyBlue;
        color: white;
    }

